<h2 class="page-header"><%= author.name %></h2>
<a href="/author/<%= author.id %>/edit">Edit</a>
<%- include('../particals/deleteForm', { url : `/authors/${author.id}`})%>
<% if(booksByAuthor.length > 0) { %>
    <% booksByAuthor.forEach(book =>{ %>
        <a href="/books/<%= book.id%>">
            <img src="<%= book.coverImagePath%>" width="200px"></img>
        </a>
    <% })%>
<% } %>